html,body {
	padding: 0;
	margin: 0;
	background-color: #008E9B;
}

.box {
	display:flex;
	align-items: left;	
	justify-content: left;
	text-align: center;
	flex-direction: column;
	padding: 0;
	margin: 0;
	gap: 40px;
}

.box > main {
	background-image: url('../images/space.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
		
main > p {
	color: white;
	font-size: 100px;
	position: absolute;
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

.images > span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.images > span > img {
	width: 50%; 
	height: 50%;
}

nav {
	font-size: 50px;
	background-color: grey;
}

ul {
	padding: 5px; 
	margin: 0; 
	display: flex; 
	align-items: center;
	justify-content: center;
	gap: 5px;
	list-style-type: none; 
}

ul > li {
	transition: all .3s ease;
}

ul > li:hover {
	transform: scale(1.1);
	background-color: white;
	color: black;
}

ul > li > a {
	padding: 5px;
	text-decoration: none;
	color: black;
	transition: all .3s ease;
}
