@import "stylesheet.css";

.box > main {
	background-image: url('../images/a.jpg');
	background-repeat: no-repeat;
}

main > p {
	color: white;
	font-size: 100px;
	position: relative;
	text-align: center;
}

.images > span {
	display: flex;
	align-items: center;
	justify-content: center;
}

.images > span > img {
	width: 50%; 
	height: 50%;
}

.box > .selling {
	background-color: blue;
	border-style: solid;
	border-color: red;
}

