/* Make a universal css file and a specife file for each page */
/*@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');*/

html,body {
	padding: 0;
	margin: 0;
/*	background-color: #384351; */
	font-family: 'Pixelify Sans', sans-serif;
}

.container {
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	border-color: #002147;
	background-color: #1d2951;
	color: white;
}

.box {
	display:flex;
	align-items: left;	
	justify-content: left;
	text-align: center;
	flex-direction: column;
	padding: 0;
	margin: 0;
	gap: 40px;
}

nav {
	font-size: 35px;
}

nav >ul {
	padding: 5px; 
	margin: 0; 
	display: flex; 
	align-items: center;
	justify-content: center;
	gap: 20px;
	list-style-type: none; 
}

nav>ul > li {
	transition: all .3s ease;
}

nav>ul > li:hover {
	transform: scale(1.1);
	background-color: white;
	color: black;
}

nav>ul > li > a {
	padding: 5px;
	text-decoration: none;
	color: black;
	transition: all .3s ease;
}
